/*========================


University Styling



==========================*/

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'PT Sans', sans-serif;
}

/*========================


Hearder Stylling



==========================*/

header {
    background: aliceblue;
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 3;
}

li {
    display: inline;
    padding: 0 135px;
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: #707070;
    transition: .3s
}

header a:hover {
    color: green;
    transition: .3s;
}

/*=========================




Hero Image Styling



============================= */
.top-hero{
    background: url("../images/5background.jpg") center/cover no-repeat;
    min-height: 50vh;
    position: relative;
}

h1 {
    position: absolute;
    margin-top: 137px;
    color: #F7F4F9;
    left: 50%;
    font-size: 39px;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 12%;
}

.navigation-bar {
    padding-right: .8125rem;
    padding-left: .8125rem;
    text-align: center;
    font-size: 24px;
    margin: 50px 0;
}
